:root {
}

.header-container {
  width: 100%;
  background-color: bisque;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-button {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
